{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/base.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>


<body>
    <div class="container">
        <header>
            <nav>
                <ul class="meu-nome">
                    <li><a href="#">JOÃO TINTI</a></li>   
                </ul>

                <ul class="menu-principal">
                    <li><a href="{% url 'home' %}">HOME</a></li>
                    <li><a href="{% url 'blog' %}">BLOG</a></li>
                    <li><a href="{% url 'contato' %}">CONTATO</a></li>
                </ul>

                <ul class="dropdown">
                    <button class="dropbtn">MAIS</button>
                    <div class="dropdown-content">
                        <li><a href="{% url 'home' %}">HOME</a></li>
                        <li><a href="{% url 'blog' %}">BLOG</a></li>
                        <li><a href="{% url 'contato' %}">CONTATO</a></li>
                    </div>
                </ul>

            </nav>
        </header>
        {% block content %}{% endblock %}
        <script>
            /*
            setTimeout(()=> {
                alert('ola mundo');
            }, 5000);
            */
        
            let botao = document.querySelector('.dropbtn')
            let dropdown = document.querySelector('.dropdown-content')
            botao.addEventListener('click', () => {
                if (dropdown.style.display === '') {
                    dropdown.style.display = 'block';
                } else {
                    dropdown.style.display = '';
                }
            });
        
        </script>
    </div>
</body>
