{% extends 'blog/base.html' %}
{% load static %}

{% block head %}

<link rel="icon" href="{% static 'blog/house.png' %}" type="image/gif">
<title>HOME | João Tinti</title>

{% endblock %}

{% block content %}
<section>
    <article>
        <div class="redes-sociais">
            <h1>Olá! Meu nome é <span style="color:#20639B">João</span> e essas são minhas redes sociais:</h1>
            <div class="principal">
                <ul>
                    <a href="https://www.facebook.com/joao.v.tinti/" target="_blank"><li id="facebook">FACEBOOK</li></a>
                    <a href="https://www.linkedin.com/in/joaotinti75/" target="_blank"><li id="linkedin">LINKEDIN</li></a>
                    <a href="https://www.instagram.com/joao.tinti/" target="_blank"><li id="instagram">INSTAGRAM</li></a>
                    <a href="https://github.com/joaotinti75" target="_blank"><li id="github">GITHUB</li></a>
                    <a href="https://www.youtube.com/channel/UChjskKGW9ebyuVgNYpEZ92Q" target="_blank"><li id="youtube">YOUTUBE</li></a>
                    <a href="{% static 'blog/curriculo_JoaoVitor_bemAgro.pdf' %}" target="_blank"><li id="curriculo">MEU CURRICULO</li></a>
                </ul>
                <div class="foto">
                    <h2>Sobre mim</h2>
                    <img src="{% static 'blog/joao_imagem.jpg' %}" alt="foto de João" title="João Vitor">
                    <figcaption>Engenheiro Agrônomo, Analista e Desenvolvedor de Sistemas, Nerd e Youtuber 🤓🌽</figcaption>
                </div>
            </div>
        </div>
    </article>
</section>

<div>Icons made by <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

{% endblock %}